#connected-header {
    margin-left: 10%;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Konkhmer Sleokchher';
    font-weight: 400;
}

p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.4;
}

.socials-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.icons-box {
    width: 40%;
}

.contact-info {
    width: 40%;
    text-align: right;
}

#instagram-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#instagram-logo {
    color: white;
    font-size: 40px;
    margin-right: 15px;
}

#linkedin-box {
    display: flex;
    align-items: center;
}

#linkedin-logo {
    color: #0077B5;
    font-size: 40px;
    margin-right: 15px;
}

#joinus-arrow {
    color: #0077B5;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

#joinus-box {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0;
}

#joinus-box p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
} 