@import url(https://fonts.googleapis.com/css?family=Comfortaa);

.navbar {
    background: black;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

.btnbox {
    display: flex;
    margin: 40px 40px;
}

#cubesat-logo {
    padding-top: 3px;
    padding-left: 60px;
}

.navbtn {
    background: transparent;
    position: relative;
    border: none;
    outline: none;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    padding: 14px 22px;
    font-size: 18px;
    font-family: Comfortaa;
    color: white;
}

.navbtn:hover::after {
    text-decoration: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: white;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden by default */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1000;
}

/* Dropdown items */
.dropdown-item {
    padding: 10px 20px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: Comfortaa;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #333;
}

.dropdown-item:last-child {
    border-bottom: none;
} 

@media screen and (min-width: 401px){
    .mobile-navbar {
        display: none;
    }
}

/* Mobile NavBar */
@media screen and (max-width: 400px){
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-header{
        width: 100%;
        /* height: 30vh; */
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
    }

    .navbar-header a{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hamburger-menu{
        margin: 15px;
        font-size: 30px;
    }

    .mobile-menu{
        position: fixed;
        z-index: 9999;
        background-color: black;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .mobile-menu button{
        width: fit-content;
        font-size: 60px;
        color: #D9D9D9;
        padding: 15px;
    }

    .btn-box{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mobile-item{
        font-size: 55px;
        font-family: 'Konkhmer Sleokchher', sans-serif;
        font-weight: 400;
        padding: 10px 20px;
    }

    .long-mobile-item{
        font-size: 40px;
        font-family: 'Konkhmer Sleokchher', sans-serif;
        font-weight: 400;
        padding: 10px 20px;
    }
}