.image-carousel {
  width: 500px; 
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-image {
  max-width: 500px; 
  max-height: 100%; 
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  /* position: absolute; */
  opacity: 0; 
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0; 
}
